.quron-wrap1 {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.quron-itme1 {
  width: 250px;
}
.quran1 {
  width: 1100px;
  background-color: var(--nav);
  margin-top: 200px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.n-h2 {
  font-size: 26px;
  font-family: rot1;
  color: var(--color);
  text-align: center;
  padding-top: 30px;
}
.to {
  font-family: rot;
  font-size: 25px;
  background-color: #897c0b;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px 0 0 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: var(--link1);
  box-shadow: var(--shad) var(--hov);
  color: var(--color);
  border: 1px solid var(--border);
  transition: 0.2s;
}
.to1 {
  font-family: rot;
  font-size: 25px;
  background-color: #897c0b;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px 0 0 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: var(--link1);
  box-shadow: var(--shad) var(--hov);
  color: var(--color);
  border: 1px solid var(--border);
  transition: 0.2s;
  margin-top: -50px;
}

.namoz-b {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-left: 5px;
}

.n-b {
  width: 150px;
  height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.2s;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid var(--border);
  background-color: var(--card);
  border-radius: 10px;
  font-family: rot1;
  color: var(--color);
  font-size: 18px;
}

.img-n {
  width: 86px;
  height: 86px;
}

.bot {
  width: 100%;
  height: 50px;
}

.sl {
  position: fixed;
  top: 20px;
  z-index: 5;
  width: 250px;
  height: 35px;
  outline: none;
  border-radius: 6px;
  border: 0;
  margin-left: 800px;
  font-size: 16px;
  font-family: sans-serif;
  background-color: var(--card);
  color: var(--color);
  border: 1px solid var(--border);
}

@media screen and (max-width: 1430px) {
  .quron-wrap1 {
    width: 90%;
  }
  .quran1 {
    width: 100%;
    background-color: var(--nav);
    margin-top: 100px;
  }

  .quron-itme1 {
    width: 25%;
  }
}
@media screen and (max-width: 1300px) {
  .quron-itme1 {
    width: 30%;
  }
  .sl {
    right: 170px;
  }
}
@media screen and (max-width: 1200px) {
  .quron-itme1 {
    width: 40%;
  }
}
@media screen and (max-width: 1040px) {
  .quron-itme1 {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .sl {
    top: 100px;
    right: 40px;
  }
  .quran1 {
    margin-top: 160px;
  }
  .sl1 {
    width: 100%;
    position: fixed;
    top: 72px;
    background-color: var(--body-bg);
    z-index: 3;
    height: 80px;
  }
}
@media screen and (max-width: 400px) {
  .n-b {
    width: 140px;
    height: 190px;
    font-size: 16px;
  }
}
